<html>
    <head>
        <title>Simple form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class='form' style="background: rgb(149, 149, 233); width: 50%; margin: 0 auto;">
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.first_name.label }} {{ form.first_name }}
                <br>
                {{ form.last_name.label }} {{ form.last_name }}
                <br>
                {{ form.today.label }} {{ form.today }}
                <br>
                {{ form.favnum.label }} {{ form.favnum }}
                <br>
                {{ form.question.label }} {{ form.question }}
                <br>
                {{ form.validate.label }} {{ form.validate }}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
    </body>
</html>